<div class="container-md d-flex justify-content-center">
    <div class="row col-md-8">
    <ul class="no-bullets">
        {{#each posts as |post| }}
        <li class="mt-2">
            <a href="/{{id}}" class="list-item">
            <div class="card">
                <div class="card-body">
                  <h3>{{title}}</h3>
                    <div class="">
                        <div class="">{{post.User.firstname}} {{post.User.lastname}}</div>
                        <div class="">{{created}}</div>
                    </div>
                </div>
            </div>
            </a>
        </li>
        {{/each}}
        
    </ul>
    </div>  
</div>